$pending-color: #ee582c;
$under-construction-color: #fde539;
$pick-up-color: #97c548;
$picked-up-color: #569ece;
$descriptive-text-color: #F2AC21;
$order-name-container-color: #707070;
$order-name-color: #5C5C5C;
$white: #ffffff;
